@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: beige;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 20px auto;
}
.category_style{
    width: 300px;
    margin: 20px 0px 20px 0px;
}
.table{
    text-align: center;
    box-shadow: 1px 1px 10px black;
}
thead{
    border-bottom: 3px solid black;
}
td{
    font-size: 0.85rem;
}
button{
    width: 100px;
    background-color: rgb(83, 19, 19) !important;
}

/* Componente ProductsDetail */
.container_detail{
    width: 30%;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 20px auto;
    box-shadow: 1px 1px 20px black;
}
.container_detail span{
    font-weight: bold;
}
img{
    width: 250px !important;
    margin: 30px auto;
}
.btn_back{
    margin: 20px auto auto 70px;
    background-color: rgb(114, 114, 39) !important; 
}
/* Componente Loading*/
.container_spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}